<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-8 mx-auto">
        <% @movies.each do |movie| %>
          <div class="row my-5">
            <div class="col-6">
              <div class="embed-responsive embed-responsive-4by3 h-100">
                <iframe class="embed-responsive-item h-100 w-100" src="//www.youtube.com/embed/<%= movie.youtube_id %>"></iframe>
              </div>
            </div>
            <div class="col-6 text-start">
              <a href="<%= movie.url %>" class="my-2"><%= movie.title %></a>
              <p>Shared by: <%= movie.user.email %></p>
              <p>Description:</p>
              <p><%= truncate(movie.description.html_safe, length: 200) %></p>
            </div>
          </div>
        <%  end %>
      </div>
    </div>
  </section>
</main>
