<!DOCTYPE html>
<html>
  <head>
    <title>RemitanoProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <div id="flash" class="notice"><%= notice %></div>
    <% end  %>

    <% if alert.present? %>
      <div id="flash" class="alert"><%= alert %></div>
    <% end  %>
    <%= render partial: "/layouts/header" %>
    <%= yield %>
  </body>
</html>
